<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{% url 'main:base' %}">Noiroze</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" id="logout-button" href="">
                            <span class="dropdown-item" id="user_id">아이디</span>로그아웃
                        </a>
                    </li>
                    <li><a class="dropdown-item" id="login-button" href="{% url 'common:login' %}">로그인</a></li>
                    <li><a class="dropdown-item" id="register-button" href="{% url 'common:register' %}">회원가입</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="{% url 'main:dashboard' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            게시판
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link" href="{% url 'board:index' %}">
                                    민원접수 게시판
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                </div>
                                <a class="nav-link" href="#!">
                                    커뮤니티 게시판
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <!-- <div class="small"></div> -->   
                </div>
            </nav>
        </div>


        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
              var token = localStorage.getItem('auth-token');               // 로그인 성공 시, 로컬 스토리지에 존재하는 토큰을 가져옴
             
              if (token) {                                            // 토큰이 존재하는 경우
                document.getElementById('logout-button').style.display = 'block'; 
                document.getElementById('login-button').style.display = 'none';
                document.getElementById('register-button').style.display = 'none';        // 로그아웃 버튼만 보여지도록 설정
              } 
              else {
                document.getElementById('logout-button').style.display = 'none';
                document.getElementById('login-button').style.display = 'block';
                document.getElementById('register-button').style.display = 'block';     // 토큰이 없는 경우 로그인, 회원가입 버튼이 보여지도록 설정
              }
            });
          
            document.getElementById('logout-button').addEventListener('click', function(e) {         // 로그아웃 버튼 클릭 시, 동작하는 함수
              e.preventDefault();                                                                    // 기본 동작(페이지 이동)을 취소
          
              
              fetch('/api/user_logout/', {               // api/user_logout 으로 로그아웃 요청 보내기. api/urls.py 에서 엔드포인트 확인 가능
                method: 'POST',                          // api/views.py 의 user_logout 함수의 동작에 따라 설정.
                headers: {
                  'Authorization': 'Token ' + localStorage.getItem('auth-token'),          // 로컬 스토리지에 있는 토큰을 가져와서, 요청 헤더에 포함.
                },
              })
              .then(response => {
                if (!response.ok) {                           // 토큰이 검증되지 않은 사용자가 로그아웃 시도 시.
                  throw new Error('검증되지 않은 사용자 입니다.');                  
                }
                localStorage.removeItem('auth-token');             // 검증이 처리 된 경우, 해당 사용자의 토큰을 제거     
                updateUIAfterLogout();                        // 본문 읽기를 스킵하고 직접 토큰을 제거하고 UI를 업데이트
              })
              .catch(error => {
                console.error('Error:', error);               // 에러 발생 시에는 에러 검증 후 출력.
              });
            });
          
            function updateUIAfterLogout() {                                         // 로그아웃 이후 UI 업데이트 함수
              document.getElementById('logout-button').style.display = 'none';       // 로그아웃 버튼 숨기기
              document.getElementById('login-button').style.display = 'block';       // 로그인 버튼 보이기
              document.getElementById('register-button').style.display = 'block';    // 회원가입 버튼 보이기
          
              
              window.location.href = "/common/login/";       //   /common/login/ 페이지로 리디렉션
            }
          
            btn_create.onclick
            window.onload = function() {               // 로그인 성공 시, 토큰으로 유저를 인증하고, 해당 유저의 정보를 가져오는 함수
                  var token = localStorage.getItem('auth-token');  // 로컬 스토리지에 저장된 인증토큰을 가져옴.
                  if (token) {
                      fetch('/api/user_detail', {  // 유저의 정보를 가져오는 API 엔드포인트. api/urls.py 에서 확인
                      method: 'GET',
                      headers: {
                          'Authorization': 'Token ' + token,       // 인증을 위해 토큰을 포함하여 요청 전송
                      }
                      })
                      .then(function(response) {           
                      if (response.status === 200) {              // 응답 요청이 성공적인경우
                          return response.json();
                      }
                      else {                                     // 응답 요청 실패시
                          throw new Error('서버로 부터 인증에 실패하였습니다.');
                      }
                      })
                      .then(function(user) {    // 응답 요청 성공 시, 이후에 처리하는 함수
                      // 로그인 한 유저의 정보를 표시함
                      var userIdElement = document.getElementById('user_id');   // id="user_id" 에 해당하는 곳에
                      userIdElement.textContent = user.userid;                  // 유저 모델의 userid를 가져와서 부여
                      var userNameElement = document.getElementById('user_name');   // id="user_name" 에 해당하는 곳에
                      userNameElement.textContent = user.name;                    // 유저 모델의 name을 가져와서 부여
                      var userEmailElement = document.getElementById('user_email');  // id="user_email" 에 해당하는 곳에
                      userEmailElement.textContent = user.email;                   // 유저 모델의 email을 가져와서 부여
                      var userDongElement = document.getElementById('user_dong');   // id="user_dong" 에 해당하는 곳에
                      userDongElement.textContent = user.dong;                    // 유저 모델의 dong을 가져와서 부여
                      var userHoElement = document.getElementById('user_ho');     // id="user_ho" 에 해당하는 곳에
                      userHoElement.textContent = user.ho;                      // 유저 모델의 ho를 가져와서 부여
                      })
                      .catch(function(error) {
                      console.error('Error:', error);
                      });
                  }
              };
          </script>